{% extends "base.html" %}
{% block title %}Create{% endblock %}
{% block head %}
    {{ super() }}
    <style>
      body {
          min-height: 75rem;
          padding-top: 4.5rem;
      }
  </style>
{% endblock %}
{% block content %}
    <h1>Ajout d'une etape</h1>

    <form id="myform" method="POST" action="{{ url_for('add_restaurant') }}">
        <div class="mb-3">
          <label for="restaurant_name" class="form-label">Name</label>
          <input type="text" class="form-control" id="restaurant_name" name="restaurant_name">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
        <button type="reset" class="btn btn-primary">Cancel</button>
    </form>
{% endblock %}
    
