{% extends "base.html" %}
{% block title %}Details{% endblock %}
{% block head %}
    {{ super() }}
    <style>
      body {
          min-height: 75rem;
          padding-top: 4.5rem;
      }
  </style>
{% endblock %}
{% block content %}
  <h1>{{ restaurant.name }}</h1> 
  <div class="row">
      <div class="col-md-2 fw-bold">Description:</div>
      <div class="col">{{ restaurant.description }}</div>                
  </div>
<br>
<br>
<a href="{{ url_for('index') }}" class="btn btn-sm btn-info">Retour</a>
  

  
    

{% endblock %}
